<form nz-form [formGroup]="validateForm" style="margin-top: 20px; text-align:center;" (submit)="submitForm()">
    <input nz-input placeholder="Enter Keyword to search" nzSize="large" style="width: 20%;background-color: rgba(255, 255, 255, 0.329);;" formControlName="title" />
    <button nz-button [nzSize]="size" nzType="primary" style="margin-left: 15px;background-color: chocolate; color: white;"
        [disabled]="validateForm.invalid">Search</button>
</form>


<div style="min-height: 91vh;">

    <div style="padding-top: 10px;"></div>

    <div style="margin-top:10px;" class="child" *ngFor="let product of Products">
        <div nz-row>
            <div nz-col nzSpan="8">
                <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;"
                    [src]="product.processedImg" alt="profile" />
            </div>
            <div nz-col nzSpan="16">
                <h2 style="cursor: pointer; color: #000000;">
                    {{product.name}}</h2>
                <hr>
                <h3>Price: <b>{{product.price}}</b>
                    <br> Description: <b>{{product.description}}</b>
                    <br> Category: <b>{{product.categoryName}}</b>
                </h3>
                <hr>
            </div>

        </div>
    </div>
</div>